@import "src/commonStyles/variables";

.menuItem {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  &__text {
    font-size: 1.8rem;
    font-weight: 700;
    color: $text-color-primary,
  }

  &:hover {
    & > * {
      color: white;
      fill: white;
    }
  }
}

.selectedMenuItem {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  &__text {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
  }
}

