@import 'src/commonStyles/variables';

@mixin block-style($background-color) {
  box-sizing: border-box;
  border-radius: $border-radius-block;
  background-color: $background-color;
  padding: 1rem 2rem;
}

@mixin button-base($background-color) {
  height: 3rem;
  width: auto;
  padding: .6rem 1rem;
  border-radius: 50px;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  cursor: pointer;
}

@mixin tag-item_base ($background-color, $text-color) {
  font-size: $font-size-tag;
  padding: .2rem .4rem;
  margin: .4rem 0;
  line-height: 140%;
  font-weight: 500;
  color: $text-color;
  background-color: $background-color;
  border: solid 1px $text-color-primary;
  border-radius: $border-radius-block;
  cursor: pointer;
}