$blocks-margin: .8rem;
$blocks-padding: .8rem;
$border-radius-block: 12px;
$font-size-paragraph: 1.4rem;
$font-size-tag: 1.4rem;

// colors
$text-color-primary: #959595;
$color-black: #121212;
$main-block-background-color: #1f1d1d;
$hover-tag-background-color: #1e293a;
$focused-link-color: #485d94;