@import 'src/commonStyles/variables';
@import "src/commonStyles/mixins";

.central-block-container {
  height: 100%;
  flex: 3;
  @include block-style($main-block-background-color);
  margin-bottom: $blocks-margin;
}