.footer {
  background-color: #1e293a;
  box-sizing: border-box;
  height: 5vh;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
  }

  &__text {
    color: #ecf0f1;
    font-size: 1rem;
  }
}