@import "src/commonStyles/mixins";
@import 'src/commonStyles/variables';

.leftBarContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 95vh;
  flex: 1;
  max-width: 25vw;
}

.MenuContainer {
  @include blockStyle($color-black);
  margin-right: $blocks-margin;
  margin-bottom: $blocks-margin;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.dataContainer {
  @include blockStyle($color-black);
  margin-right: $blocks-margin;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}